.firstcell{
    background-color: skyblue;
    width:50%;
    height: 630px;
    margin-left: 20%;
    margin-right: 40%;
   

    
}
.secondcell{
    background-color:white;
    width:69%;
    height: 620px; 
    margin-left: 15%;
    margin-right: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60%;

}
.pic{
    
    margin-inline:5px;
    height: 400px;

    
}
.halfsec{
    background-color:blue;
   display: flex;
   text-align: end;
   margin-bottom: 50%;
   display: contents;
   justify-content:left;
   margin-left: 5%;
   margin-right: 20%;
}
.thirdcell{
    background-color:gray;
    color: black;
    width:60%;
    height: 100px;
    margin-bottom:90%;
    margin-top:20%;
    align-items: center;
    margin-left: 10%;
    margin-right: 20%;
}
.fouthcell{
    background-color:blue;
    color: white;
    width:50%;
    height: 50px;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 90%;
}
.fifthcell{
    background-color: white;
    color: gray;
    width:40%;
    height:25px;
    display: inline;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 90%;
}