.firstcell{
    background-color: skyblue;
    width: 50%;
    height: 650px;
    
}
.secondcell{
    background-color:white;
    width: 70%;
    height: 500px;
    margin-left: 50px;
   
}
.thirdcell{
    background-color: aqua;
    width: 60%;
    height: 450px;
}
.fouthcell{
    background-color: grey;
    width: 50%;
    height: 350px;
}
.fifthcell{
    background-color: brown;
    width:40%;
    height:250px;
}