.main {
    display :flex ;
}.firstmain{
    background-color: rgb(175, 175, 221);
    margin-right: 30;
    width: 50%;
    height: 600px;
    border: 30px;
    border-radius: 20px;
    text-align: center;
}
.circle{
    width:90px;
    height: 90;
    margin-top:5px;
    background-color: brown;
    border: 2px solis black;
}
.secondmain{
    background-color: antiquewhite;
    margin-left: 400px;
    width: 60%;
    height: 300px;
    border: 40px;
    border-radius: 30px;
    text-align: center;
}
.subM{
    background-color: aqua;
    width: 70%;
    height: 200px;
    margin-left: 50px;
}
.contains{
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;

}