.main{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 400px;
    background-color: aqua;
    align-items: center;
}

.content-1, .content-2{
width:40%;
height:300px;
}
.content-1{
    .circle{
        background-color: blueviolet;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50%;
    }
    background-color: red;
}
.content-2{
    background-color: rgb(187, 255, 0);
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}